* {
  margin: 0;
}

.title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 80px;
  font-size: 40px;
  font-weight: 100;
  color: white;
  padding-top: 10px;
  background-color: rgb(126, 2, 126);
}

.body {
  position: relative;
}

.main-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

input[type="text"] {
  width: 100%;
}

.display {
  padding: 10px;
  height: 120px;
}

.left {
  float: left;
  width: 10%;
}
.right {
  float: right;
  margin-top: 20px;
  width: 60%;
}

.face-icon {
  height: 80px;
  width: 80px;
}

.left-button {
  float: left;
  width: 100px;
  margin: 5px;
}

.right-button {
  float: left;
  width: 100px;
  margin: 5px;
}

footer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  padding-bottom: 100px;
  background-color: rgb(126, 2, 126);
  padding: 20px;
  font-weight: 200;
  color: white;
}
